
<section style="padding: 8px">
	<input type="text" class="text-input" ng-model="addNewItemName" placeholder="שם נקודת עניין" style="display: block; width: 100%">
</section>
<div ng-repeat="addField in addNewItemFields">
	<section id="add-item-area" style="padding: 8px" ng-if="checkFieldType(addField['type'],'google_map')">
		<input type="text" class="text-input" ng-model="addField['value']['address']" placeholder="כתובת" style="display: block; width: 100%">
		<input type="text" class="text-input longitude" ng-model="addField['value']['lng']" placeholder="קו אורך" style="display: block; width: 50%; float:right;">
		<input type="text" class="text-input latitude" ng-model="addField['value']['lat']" placeholder="קו רוחב" style="display: block; width: 50%; float:right;">
		<ons-button modifier="large" ng-click="getCurrentPositionFunc()">Get current position</ons-button>
		<div style="clear:both;"></div>
	</section>
	<section style="padding: 8px" ng-if="checkFieldType(addField['type'],'text')">
		<input type="text" class="text-input" ng-model="addField['value']" placeholder="{{addField['label']}}" style="display: block; width: 100%">
	</section>
	<section style="padding: 8px" ng-if="checkFieldType(addField['type'],'textarea')">
		<textarea class="edit_item_map_holder text-input" ng-model="addField['value']" placeholder="{{addField['label']}}" style="display: block; width: 100%; min-height:150px;"></textarea>
	</section>
</div>
<section style="padding: 0 8px 8px">
	<ons-button modifier="large" ng-click="addItemFunc(addNewItemName)">הוסף</ons-button>
</section>