<ons-page>
	<ul ng-model="item.pages">
		<li ng-repeat="(key, page) in item.pages">{{page.name}}
			<!--<ul>
				<li ng-repeat="elem in page.elems" ng-if="elem.type=='form'">{{elem.name}}
					<ul>
						<li ng-repeat="formelem in elem.formelems">{{formelem.name}}</li>
					</ul>
				</li>
				<li ng-repeat="elem in page.elems" ng-if="elem.type!='form'">{{elem.name}}</li>
			</ul>-->
		</li>
	</ul>
	<div class="codelines_holder">
		<p ng-repeat="line in codelines track by $index" class="codeline">>> {{line}}</p>
	</div>
	<input type="text" ng-model="codeline.newcode" class="codeline-text-field"/>
	<button ng-click="execCode()">Execute</button>
</ons-page>