<ons-page>
	<h1 class="coding-tree-heading">App's elements tree</h1>
	<div class="coding-tree-wrapper">
		<ul class="coding-tree-holder" ng-model="item.pages">
			<li ng-repeat="(key, page) in item.pages"><p>{{page.name}}</p>
				<ul>
					<li ng-repeat="elem in page.elems" ng-if="elem.type=='form'"><p class="form_elment">{{elem.name}}</p>
						<ul>
							<li ng-repeat="formelem in elem.formelems"><p>{{formelem.name}}</p></li>
						</ul>
					</li>
					<li ng-repeat="elem in page.elems" ng-if="elem.type!='form'"><p>{{elem.name}}</p></li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="codelines_holder">
		<p ng-repeat="line in codelines track by $index" class="codeline">>> {{line}}</p>
	</div>
	<input type="text" ng-model="codeline.newcode" class="codeline-text-field"/>
	<button ng-click="execCode()" class="codeline-button">Execute</button>
</ons-page>