	<ons-page>
		<h2 class="menu-title"><i class="fa fa-bars" ng-click="menu.toggleMenu()" style="margin-right:10px;"></i>Edit App Layout</h2>
		<img src="img/editapp-top-bg.jpg" class="edit-app-top-bg"/>
		<div style="height: 30%;margin-top: 10%;">
			<input type="text" class="text-input edit_app_input" ng-model="layout.main_title" placeholder="שנה את כותרת האפליקציה" style="margin-top: 15%;"><button class="edit_app_but_top" ng-click="saveText('main_title',layout.main_title)" style="margin-top: 15%;">טקסט שמור</button>
			<div style="clear:both;"></div>
			<input type="text" class="text-input edit_app_input" ng-model="layout.app_title" placeholder="שנה את שם האפליקציה"><button class="edit_app_but_top" ng-click="saveText('app_title',layout.app_title)">טקסט שמור</button>
			<div style="clear:both;"></div>
		</div>
		<div style="height: 30%;">
			<button ng-click="getPicFile()" class="edit_app_but" style="margin-top: 10%;">שמור תמונה</button>
			<button ng-click="getPicCam()" class="edit_app_but">העלה תמונה מהמצלמה</button>
			<div style="clear:both;"></div>
		</div>
		<div style="height: 24%;">
			<button ng-click="startBuildingApp()" class="edit_app_but" style="margin-top:7%;height: 36%;">שמור את כל השינוים</button>
			<a href="{{appLinkDownload.link|trustUrl}}" ng-click="openInBrowser(appLinkDownload.link)" class="edit_app_but" style="text-decoration: none;text-align: center;line-height: 53px;height: 36%;">{{appLinkDownload.text}}</a>
		</div>
		<img src="img/editapp-bottom-bg.jpg" class="edit-app-bottom-bg"/>
	</ons-page>
	<style>
		.page__background {
			background-color: #b3d354;
		}
	</style>