<ons-page>
		<ons-toolbar>
		  <div class="left">
			<ons-toolbar-button ng-click="menu.toggleMenu()"><ons-icon icon="fa-bars"></ons-icon></ons-toolbar-button>
		  </div>
		  <div class="center">עריכת פרופיל משתמש</div>
		</ons-toolbar>
		<div>
			<section style="padding: 8px; padding-bottom:2px; padding-top:0;margin-bottom:40px;">
				<h2>תמונת פרופיל</h2>
				<img src="{{userdata.profile_image}}" style="width:100%;"></img>
				<ons-button modifier="large" ng-click="getUserFile()" style="width:49%;float:left;margin-right:2%;">העלה תמונה מהטלפון</ons-button>
				<ons-button modifier="large" ng-click="getUserCam()" style="width:49%;float:right;">העלה תמונה מהמצלמה</ons-button>
				<div style="clear:both;"></div>
			</section>
		</div>
	</ons-page>