<ons-page>
	<ons-toolbar>
		<div class="center"></div>
	</ons-toolbar>
	<img src="pic.png" style="width:100%;"></img>
	<section style="padding: 0 8px 8px">
		<ons-button modifier="large" ng-click="joinClass()">הצטרף לקורס</ons-button>
	</section>
	<!--<section style="padding: 0 8px 8px">
		<ons-button modifier="large" ng-click="createClass()">Create new class</ons-button>
	</section>-->
	<!--<section style="padding: 0 8px 8px">
		<ons-button modifier="large" ng-click="menu.setMainPage('login.html', {closeMenu: true})">Login</ons-button>
	</section>-->
</ons-page>