<ons-page>
	<h2 class="menu-title lessons-title"><i class="fa fa-bars" ng-click="menu.toggleMenu()" style="margin-right:10px;"></i>Select studen to review his app</h2>
	<ul class="students_list">
		<li ng-repeat="student in projStudents" ng-click="switchUser(student.data.ID,student.data.user_login,student.data.users_name,student.data.users_profile_image)">
			<img ng-if="student.data.users_profile_image" src="{{student.users_profile_image}}" class="comment_image"/>
			<img ng-if="!student.data.users_profile_image" src="img/anon.gif" class="comment_image"/>
			{{student.data.users_name}}
		</li>
	</ul>
</ons-page>